* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #f1f2f6;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #064789;
    position: relative;
    overflow-x: hidden;
}

.berita-isi {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.berita-isi__item {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.berita-isi__item__img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.berita-isi__item__img img {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #f1f2f6;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.berita-isi__item__img i {
    margin-bottom: 2%;
    text-align: center;
}

.berita-isi__item p {
    text-align: justify;
    margin-bottom: 3%;
}

@media screen and (max-width: 800px) {
    .berita-isi__item__img i {
        font-size: 0.8em;
        margin-bottom: 3%;
    }
}
