* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #f1f2f6;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #064789;
    position: relative;
    overflow-x: hidden;
}

.berita {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.berita__item {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 1% 1.5% 1% 1.5%;
    margin-bottom: 0;
    gap: 3%;
}

.berita__item img {
    width: 30%;
    border-radius: 5px;
}

.berita__item__tulisan h1 {
    font-size: 1.5em;
    text-align: justify;
}

.berita__item__tulisan p {
    font-size: 1.1em;
}

.berita__item__tulisan h1:hover {
    text-decoration: underline;
    color: #3498db;
}

@media screen and (max-width: 800px) {
    .berita__item__tulisan h1 {
        font-size: 1.1em;
    }

    .berita__item__tulisan p {
        font-size: 1em;
    }
}

@media screen and (max-width: 730px) {
    .berita__item__tulisan h1 {
        font-size: 0.9em;
    }

    .berita__item__tulisan p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 660px) {
    .berita__item__tulisan h1 {
        font-size: 0.8em;
    }

    .berita__item__tulisan p {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 500px) {
    .berita__item {
        width: 90%;
    }

    .berita__item {
        padding: 1% 1.7% 1% 1.7%;
    }

    .berita__item img {
        width: 40%;
    }

    .berita__item__tulisan h1 {
        font-size: 0.8em;
    }

    .berita__item__tulisan P {
        font-size: 0.6em;
    }
}
