* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #f1f2f6;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #293b89;
    position: relative;
    overflow-x: hidden;
}

.navbar {
    margin: 0;
}

.berita-isi {
    width: 100%;
    height: 85.5vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 0 1.5rem;
    padding: 0 1.5rem 0 1.5rem;
}

.berita-isi__item {
    min-width: 100%;
    display: flex;
    align-items: center;
}

.berita-isi__item img {
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 21/9;
    object-fit: cover;
}

.chevron {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 0 2.5rem 0 2.5rem;
    left: 0;
    top: 50%;
}

.chevron i {
    font-size: 5em;
    color: #3953c4;
}

.fa-solid:hover {
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .navbar {
        margin: 0 0 3vw 0;
    }

    .berita-isi {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem 0;
    }

    .berita-isi__item {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .berita-isi__item img {
        aspect-ratio: 16/9;
        border-radius: 10px;
    }

    .chevron {
        display: none;
    }
}
