@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Playfair+Display:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #f1f2f6;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #064789;
    overflow-x: hidden;
}

.fasilitas {
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}

.fasilitas__tulisan {
    display: flex;
    width: 100%;
    text-align: justify;
    justify-content: center;
}

.fasilitas__tulisan p {
    width: 100%;
}

.fasilitas__item {
    width: 100%;
}

.fasilitas__item__conten {
    display: flex;
    flex-direction: column;
    gap: 0.4rem 0;
}

.fasilitas__item__conten p {
    text-align: justify;
}

.fasilitas__item__conten__gambar {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 3px;
}

.fasilitas__item__conten__gambar img {
    width: 50%;
    border-radius: 1px;
}

.fasilitas__item__conten__gambar::-webkit-scrollbar {
    height: 0.5vh;
}

.fasilitas__item__conten__gambar::-webkit-scrollbar-track {
    background-color: #f1f2f6;
}

.fasilitas__item__conten__gambar::-webkit-scrollbar-thumb {
    background-color: #3498db;
}

.fasilitas__item__conten table {
    width: 100%;
}

.fasilitas__item__conten th,
.fasilitas__item__conten td {
    width: 50%;
    text-align: center;
}

.fasilitas__item__conten th {
    background-color: #008cff;
}

.fasilitas__item__conten td {
    background-color: #c7e6ff;
    color: #064789;
}

@media screen and (max-width: 1000px) {
    .fasilitas__item {
        width: 100%;
    }

    .fasilitas__item__conten__gambar img {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .fasilitas__item h3 {
        text-align: center;
    }
}
