@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Playfair+Display:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #f1f2f6;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #064789;
    overflow-x: hidden;
}

.fasilitas {
    align-items: center;
    display: flex;
    width: 90vw;
    gap: 0.5rem 0;
    flex-direction: column;
}

.fasilitas__container {
    width: 50%;
    border: 1px solid #f1f2f6;
    background-color: #f1f2f6;
    border-radius: 5px;
    margin: 0.5rem;
}

.fasilitas__container__gambar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gambar-ruangan {
    width: 50%;
    height: auto;
}

.khusus {
    width: 100%;
    height: auto;
}

.fasilitas__container__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fasilitas__container__item th,
.fasilitas__container__item td {
    width: 50%;
    border-radius: 5px;
}

.fasilitas__container__item th {
    background-color: #008cff;
}

.fasilitas__container__item td {
    background-color: #c7e6ff;
    color: #064789;
}

.fasilitas__container__item h1,
.fasilitas__container__item i,
.fasilitas__container__item td {
    text-align: center;
}

.fasilitas__container__item h1,
.fasilitas__container__item i {
    color: #064789;
}

.fasilitas__container__item:hover h1 {
    display: none;
}

.fasilitas__container__item table {
    display: none;
}

.fasilitas__container__item:hover table {
    display: table;
}

@media screen and (max-width: 1000px) {
    .fasilitas__container {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .fasilitas__container__item h1,
    .fasilitas__container__item th,
    .fasilitas__container__item td {
        font-size: 0.7em;
    }
}
