* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #064789;
}

.navbar__item a,
h1 {
    text-decoration: none;
    color: #f1f2f6;
}

.hero {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero__keterangan {
    color: #f1f2f6;
    width: 50vw;
}

.hero__keterangan h1 {
    font-size: 3em;
    margin-bottom: 1rem;
}

.hero__keterangan p {
    font-size: 1.3em;
    margin-bottom: 1rem;
}

.hero__keterangan h1,
p {
    text-align: center;
}

@media screen and (max-width: 950px) {
    .hero__keterangan h1 {
        font-size: 2em;
        margin-bottom: 2rem;
    }

    .hero__keterangan p {
        font-size: 0.8em;
        margin-bottom: 1rem;
    }

    button {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1000px) {
    .hero {
        flex-direction: column-reverse;
    }

    .hero__keterangan {
        display: flex;
        flex-direction: column;
        width: 70vw;
    }

    .hero__keterangan p {
        text-align: justify;
    }

    .hero__keterangan h1 {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    .hero__gambar img {
        width: 60vw;
    }
}
