* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #064789;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f1f2f6;
    overflow-x: hidden;
}

.kerja-sama {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5vw;
}

.kerja-sama img {
    width: 13vw;
    height: auto;
    transition: 0.3s ease-in-out;
}

.kerja-sama img:hover {
    scale: 1.1;
}

.navbar__animasi__bawah::before {
    background-color: #064789;
}

.list {
    width: 100%;
    list-style-position: inside;
    margin: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    align-items: center;
}

.list h2 {
    text-align: center;
}

.list ul {
    background-color: #008cff;
    padding: 2.5px;
    width: 97%;
    margin-bottom: 1rem;
}

.list li {
    background-color: #c7e6ff;
}

@media screen and (max-width: 1000px) {
    .list {
        gap: 3rem 0;
    }
}

@media screen and (max-width: 768px) {
    .kerja-sama img {
        width: 20vw;
    }

    .list ul {
        padding: 0.5%;
    }
}

@media screen and (max-width: 400px) {
    .kerja-sama img {
        width: 40vw;
    }
}
