* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #064789;
    position: relative;
    overflow: hidden;
}

.navbar__item a,
h1,
i,
p {
    text-decoration: none;
    color: #f1f2f6;
}

.profil {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

.profil__info {
    display: flex;
    width: 38vw;
    flex-direction: column;
    margin-bottom: 2.5vh;
}

.profil__info__nama {
    font-size: 2.5vw;
    margin-bottom: 3%;
}

.profil__info__moto {
    margin-bottom: 2%;
    font-size: 1.3vw;
}

.profil__info__deskripsi {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    margin-bottom: 1%;
    width: 100%;
    gap: 0.3rem 0;
}

.profil__info__deskripsi__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: row;
    gap: 0 0.5rem;
}

.profil__info__deskripsi__item i {
    width: 3%;
    text-align: center;
}

.profil__info__deskripsi__item p {
    width: 97%;
    text-align: left;
}

.profil__info__sosial-media {
    display: flex;
    width: 5vw;
    justify-content: space-between;
    font-size: 2vw;
    gap: 7%;
}

.profil__gambar {
    position: relative;
}

.profil__gambar__latar {
    width: 40vw;
    height: auto;
    transition: 0.3s ease-in-out;
}

.profil__gambar__guru {
    width: 40vw;
    height: auto;
    position: absolute;
    top: -0.8vw;
    left: -1vw;
    transition: 0.3s ease-in-out;
}

.profil__gambar:hover .profil__gambar__guru {
    left: -2.5vw;
}

.profil__gambar:hover .profil__gambar__latar {
    margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
    body {
        display: none;
    }
}
