* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #f1f2f6;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #064789;
    overflow-x: hidden;
    position: relative;
}

.pimpinan {
    width: 90vw;
    height: auto;
    min-height: 15rem;
    display: flex;
    align-items: center;
    gap: 1vw;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.5vw;
}

.angles {
    position: absolute;
    top: 15.7rem;
    z-index: 1;
    font-size: 2.5em;
    border-radius: 50%;
    padding: 0.7rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    opacity: 0;
}

.fa-angles-right {
    right: 7.5%;
}

.fa-angles-left {
    left: 7.5%;
}

.angles:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

.pimpinan::-webkit-scrollbar {
    height: 0.7vh;
}

.pimpinan::-webkit-scrollbar-track {
    background-color: #f1f2f6;
}

.pimpinan::-webkit-scrollbar-thumb {
    background-color: #3498db;
}

.pimpinan__item {
    display: flex;
    gap: 1vw;
    padding: 0.5vw;
    min-width: 30vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 3px;
}

.pimpinan__item img {
    width: 7vw;
    height: auto;
    border-radius: 3px;
}

.pimpinan__item p {
    font-size: 1.1vw;
    text-align: justify;
}

.sejarah {
    margin-top: 5vh;
    width: 95vw;
    height: auto;
    text-align: justify;
    padding-bottom: 1rem;
}

.sejarah ol {
    list-style-position: inside;
}

@media screen and (min-width: 1700px) {
    .angles {
        top: 16rem;
        font-size: 3.5em;
    }
}

@media screen and (max-width: 1300px) {
    .angles {
        top: 15rem;
    }
}

@media screen and (max-width: 1100px) {
    .angles {
        top: 11.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .pimpinan {
        min-height: 10rem;
        gap: 0.5rem;
    }

    .angles {
        top: 9.5rem;
        font-size: 1.7em;
    }

    .pimpinan__item {
        min-width: 20rem;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    .pimpinan__item img {
        width: 6rem;
    }

    .pimpinan__item p {
        font-size: 0.7em;
    }
}
