@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 4vw 0;
    padding: 0 7vw 0 5.5vw;
}

.navbar__item {
    display: flex;
}

.bar {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    min-width: 17rem;
    margin-bottom: 6px;
}

.logo__item__a {
    display: flex;
    align-items: center;
}

.logo__item__a h1 {
    padding-bottom: 6px;
}

.logo__item__a img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar__animasi__bawah {
    position: relative;
    cursor: pointer;
}

.navbar__animasi__bawah::before {
    position: absolute;
    content: "";
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #f1f2f6;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.navbar__animasi__bawah:hover::before {
    width: 100%;
}

.navbar__item__pengajar .hp {
    display: none;
}

.navbar__item__container .icon {
    display: none;
}

@media screen and (max-width: 1100px) {
    .navbar {
        flex-direction: row;
        margin: 2rem 0 3rem 0;
    }

    .logo__item__a img {
        display: none;
    }

    .logo__item__a h1 {
        padding-bottom: 0;
    }

    .bar {
        display: none;
        flex-direction: column;
    }

    .navbar__item__container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .navbar__item__container .icon {
        display: flex;
        justify-content: end;
        color: #d5d6d8;
    }

    .navbar__item__container:hover .bar {
        display: flex;
        position: absolute;
        top: 2rem;
        right: 0;
        width: 88vw;
        min-width: 0;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1px);
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .navbar__item__pengajar .hp {
        display: block;
    }

    .navbar__item__pengajar .pc {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .navbar__animasi__bawah::before {
        display: none;
    }
}

@media screen and (max-width: 232px) {
    .navbar__item__container .icon {
        font-size: 2rem;
    }

    .navbar__item__container:hover .bar {
        top: 3rem;
    }
}
