* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #f1f2f6;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #064789;
    position: relative;
    overflow-x: hidden;
}

.visi {
    width: 100vw;
    height: 82.4vh;
    background-color: #064789;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 17vh;
}

.visi__item p {
    font-size: 2em;
}

.misi {
    width: 100vw;
    height: 100vh;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tujuan {
    width: 100vw;
    height: 100vh;
    background-color: #f1f2f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul,
li {
    font-size: 1.2em;
}

.tujuan__item h1 {
    color: #064789;
}

.tujuan__item li {
    color: #064789;
}

.judul {
    font-size: 5em;
    padding-bottom: 0.5vw;
}

.item {
    width: 80vw;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .item {
        width: 80vw;
        font-size: 0.8em;
    }

    .visi__item {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .item {
        width: 85vw;
        font-size: 0.6em;
    }
}
