/* Main animation */
@keyframes fadeInBlur {
    from {
    opacity: 0;
    filter: blur(5px);
    }
    to {
    opacity: 1;
    filter: blur(0);
    }
}

html {
    scroll-snap-type: y proximity;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    color: white;
    opacity: 0; 
    animation: fadeInBlur 1.5s ease-in forwards;
    scroll-snap-align: center;
}

.main h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: clamp(2rem, 4vw, 4vw); /* 2rem, 4vw, 4vw */
}

/* Main CSS */
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
    scroll-snap-align: center;
    background-color: var(--primary-color);
}

.main-page img {
    width: 200px;
}

.main-page p {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.main-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-icon {text-align: center;
    margin-left: 10px;
    width: 60vw;
}

.fa-brands {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px;
}

.button-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button-link button{
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    width: 400px;
    border-style: none;
    color: rgb(75, 17, 129);
    border-radius: 5px;
    transition: backgorund-color 0.3s ease, color 0.3s ease;
}

.button-link button:hover {
    background-color: rgb(75, 17, 129);
    color: white;
    cursor: pointer;
}

.to-main-page {
    position: sticky;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 50%;
}

@media screen and (max-width: 1000px) {
    .main-page-container {
        flex-direction: column;
    }

    .link-icon {
        width: 80vw;
    }

    .button-link button {
        width: 80vw;
    }
    
}